/*#imgBerandaBrand {
  margin: 0px;
  padding: 0px;
  color:white;
  width:65px
}

#beranda li.list-group-item a {
  color: white;
  text-decoration: none;
}

#beranda li.list-group-item {
  background: transparent;
  border-bottom-color: white;
}*/

#beranda img {
    width: 3rem;
    height: auto;
}

#centerMap {
  margin: 0 auto
}
a.linkList:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
  color:#212529;
}
a.linkList {
  color:#212529;
}