/*#imgBerandaBrand {
  margin: 0px;
  padding: 0px;
  color:white;
  width:65px
}

#beranda li.list-group-item a {
  color: white;
  text-decoration: none;
}

#beranda li.list-group-item {
  background: transparent;
  border-bottom-color: white;
}*/

#beranda img {
    width: 3rem;
    height: auto;
}

#centerMap {
  margin: 0 auto
}