#imgBerandaBrand {
  margin: 0px;
  padding: 0px;
  color:white;
  width:65px
}

li.list-group-item a {
  color: white;
  text-decoration: none;
}

li.list-group-item {
  background: transparent;
  border-bottom-color: white;
}